$bg-container:#FAFAFB;
$bg-hover: #E0E0E0;
$white: #fff;

$text-dark: #09112E;
$text-light: #9295A0;

$text-light-opacity: #9295a033;
$text-datk-opacity: #2345c733;
$nav-bg-opacity: #1d379933;

$form-border: #1d3799;
$primary : #2345C7;
$dark-blue: #2345C7;

// Sidebar 

.sidebar {
    margin: 0;
    padding: 0;
    width: 224px;
    background-color: $white;
    position: fixed;
    height: 100vh;
    overflow-y: hidden;
    top: 0;

    .nav-link{
        border-left:6px solid $text-light-opacity;
    }

    .side-tabs{
        a {
            display: block;
            color: $text-dark;
            font-size:14px;
            line-height:20px;
            margin-bottom: 0;
            text-align:left;
            padding: 16px 30px;
            text-decoration: none;
    
            &:hover{
                color: $primary;
            }
        }
    }

    .sidenav-active{
        background-color: $bg-container;
        color: $primary !important;
        border-left:6px solid $text-datk-opacity;
    } 

}

.logo{
    margin: 40px 40px 70px 30px;
    .liquidity-logo{
        width: 100%;
        height: 42px;
    }
}

.nav-custom{
    background-color: $bg-container;
    padding:0px !important;
    .navbar-nav{
        .nav-item{
            .nav-link{
                font-size:18px;
                line-height:20px;
                font-weight: 400;
                margin-bottom:0;
                color: $text-dark;
                background-color: transparent;
                border:0;
                &:focus, &:active{
                    box-shadow: none;
                    outline:none;
                }
            }

            .dropdown-menu{
                padding:0;
                box-shadow: none;
                border-radius:5px;
                .dropdown-item{
                    color: $text-dark;
                    text-align:left;
                    font-size:14px;
                    padding:8px 12px;

                    &:hover{
                        background-color: $nav-bg-opacity;
                        color: $text-dark;
                    }

                    &:hover, &:focus{
                        outline:none;
                        box-shadow: none;
                    }
                }
            }
        }
        .dropdown-menu{
            position:absolute !important;
            right:0 !important;
            left:auto;
        }
    }
}

.footer-text{
    padding:15px 0;
    position: fixed;
    bottom:0;
    p{
        font-family: 'Roboto', sans-serif;
        font-size:12px;
        font-weight:400;
        margin-bottom: 0;
        margin-top:2px;
        color:$text-dark;
        padding-left:20px;
    }
    .mail > a{
        font-family: 'Roboto', sans-serif;
        font-size:12px;
        font-weight:400;
        margin-bottom: 0;
        padding:0;
        color:$primary;
        cursor:pointer;
        &:hover{
            color:#0000ff;
            text-decoration: none;
        }
    }
}

.main-container {
    margin-left: 200px;
    padding: 24px 24px 24px 50px;
    background-color: $bg-container;
    // height: 100vh;
}

  
@media screen and (max-width: 767px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: absolute;

        .sidenav-active{
            border-left:0;
            border-bottom:2px solid $text-light
        }

        a{
            padding:10px;
            font-size:14px;
        }
    }
    .sidebar a {
        float: left;
    }
    .logo {
        padding-top: 15px;
        padding-left: 15px;
        height: 100px;
    }

    .nav-custom {
        background-color:transparent;
        padding: 10px 15px !important;
        position: absolute !important;
        top:15px !important;
        right:0 !important;

    }

    .main-container {
        padding-top: 15px;
        margin-left: 0;
        margin-top: 130px;
        padding-left: 0;
    }

    .footer-text{
        display:none;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}

.inner-container{
    .main-heading{
        font-family: 'Roboto', sans-serif;
        font-weight:700;
        font-size:28px;
        color:$text-dark;
        text-align: left;
        margin-bottom:20px;
    }
}


@media screen and (max-width: 767px){
    .inner-container{
        padding:5px 15px;
        .main-heading{
            font-size:24px;
            margin-bottom:15px;
        }
    }
}

// Tabs

.tab-content{
    .show{
        opacity:1;
    }
}

.nav-tabs{
    li{
        padding:6px 12px 6px 0;
        margin-right: 25px; 
        a{
            font-family: 'Roboto', sans-serif;
            font-size:15px;
            color:$text-light;
            font-weight:400;
            padding:0 15px 0 0;

            &:hover{
                color:#333333;
                text-decoration:none;
            }
            &:focus{
                box-shadow: none;
                outline: none;
            }
        }
        .active{
            border-bottom:2px solid $primary;
            color:$text-dark;
            font-weight: 500;
            padding-bottom:8px;
        }
    }
}

.tabs-content{
    font-family: 'Roboto', sans-serif;
    background-color: $white;
    border-radius: 5px;  
    font-weight: 400;
    padding:15px;
    margin-top:25px;
    cursor: pointer;
    p{
        font-size:16px;
        color:$primary;
        margin-bottom:15px;
    }
    p > span{
        &:hover{
            color:$primary;
            opacity:0.75; 
        }
    }
    p > span > i{
        font-size:16px;
    }
}

.custom-table{
    thead{
        background-color: #C7CDD433;

    }
    thead > tr > th, tbody > tr > td {
        font-size:14px;
        border:0;
        border-bottom:0;
        vertical-align: middle;
    }
    thead th {
        border:0;
    }
    thead > tr > th > i{
        color:$text-light;
    }
    thead > tr > th:hover{
        i{
            color:$text-dark;
        }
    }
    thead > tr > th{
        font-weight:700;
    }
    tbody > tr > td{
       color:$text-dark;
       font-weight:400;
       font-size:12px;
    }
    tbody > tr > td.email-primary{
        color:$primary;
    }
    tbody > tr {
        border-bottom:1px solid $text-light-opacity;

        &:last-child{
            border-bottom:0px solid transparent;
        }
    }

    .more-actions{
        height:16px;
        width:16px;
    }
    
}

//search

.search-addUser{
    .search-user{
        width:300px;
        .input-group{
            .form-control{
                font-size:14px;
                font-style: italic;
                line-height:34px;
                color:$text-dark;
                margin-bottom:15px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
    
                &:hover,&:focus{
                    border-color:$form-border;
                    box-shadow: none;
                }
            }
            .search-button-user{
                background-color: $dark-blue;
                color:$white;
                font-size:12px;
                height:35px;
                margin-bottom:15px;
    
                &:focus{
                    box-shadow: none;
                    border:0;
                }
    
            }
        }
    }

    .add-user{
        .btn-add-user{
            font-size:12px;
            padding:6px 25px;
            float: right;
            background-color: transparent;
            color:$dark-blue;
            border:1px solid $dark-blue;

            &:hover{
                background-color: $dark-blue;
                color:$white;
            }
            &:hover,&:focus{
                outline: none;
                box-shadow: none;
            }
        }
    }
}

// Modal

.modal-tabs{
    margin-top:30px;
    .nav-tabs{
        li{
            width:50%;
        }
    }
}

.modal.show{
    padding-right:0 !important;
}

.custom-modal{
    .modal-dialog{
        margin:0 0 0 auto ;
    }
    .modal-content{
        border-top-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 0;
        background-color: $bg-container;
        font-family: 'Roboto', sans-serif;
        padding:32px 32px;
        height: 100vh;
        overflow-y: scroll;

        .close{
            font-size:14px;
            font-weight:700;
            color: $text-dark;

            .fa-times{
                height:12px;
                width:12px;
            }

            &:hover{
                color:#09112E;
            }
            &:focus{
                outline:none;
                color:#09112E;
            }
        }
    }
}

.custom-modal .modal-content .modal-body{
    padding:0;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
}
  
::-webkit-scrollbar-track {
    background: $white; 
    border-radius: 5px;
}
   
::-webkit-scrollbar-thumb {
    background: $text-light; 
    border-radius: 5px;
}

.form-modal-heading{
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    color:$text-dark;
    padding-bottom:10px;
    margin-bottom:20px;
    border-bottom:1px solid $text-light;
}

.add-user-form{
    font-family: 'Roboto', sans-serif;
    label{
        font-size:14px;
        color:$text-light;
        margin-bottom:10px; 
    }
    input{
        font-size:13px;
        height:40px;
        color:$text-dark;

        &:focus{
            outline: none;
            box-shadow: none;
            border-color:$form-border
        }
    }
    .errorMessage{
        font-size:12px;
        color:#ff0000;
    }
    .form-modal-buttons{
        display: block;
        position: fixed;
        bottom: 32px;
        right: 32px;
        .cancel{
            color: $primary;
            background-color: transparent;
            border:0;
            height: 40px;
            width:135px;
            margin-right:15px;
            border-radius: 5px;
    
            &:hover, &:focus{
                color: $primary;
                background-color: rgba(29, 55, 153, 0.2);
            }
            &:focus{
                box-shadow: none;
                outline: none;
            }
        }
        .add-user{
            font-size:16px;
            color:$white;
            padding:10px 15px;
            height: 40px;
            width:135px;
            background-color: $primary;
            border:0;
            color: $white;
            border-radius: 5px;

    
            &:hover{
                border-color: transparent;
                background-color: $form-border;
            }
            &:focus{
                box-shadow: none;
                outline: none;
            }
        }
    }
   
   
}